<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="EscapeJS a platform for learning JavaScript">
    <meta name="author" content="Alfredo Silva and Nuno Mendonça">
    <title>About</title>
    <link rel="stylesheet" href="../public/styles/about.css">
    <link rel="stylesheet" href="../public/styles/style.css">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
</head>
<body>
    <header>
        <nav>
            <img  src="../public/images/logo.svg" width="250px" height="100px">
            <ul class="menu">
                <li><a href="../index.html">Home</a></li>
                <li><a href="./room.html">Rooms</a></li>
                <li><a href="./ranking.html">Ranking</a></li>
                <li><a href="./about.html">About</a></li>
                <li><a href="./register.html">Sign In<a></a></li>
                <li><a href="./profile.html" class="profile">Profile</a></li>
            </ul>
        </nav>
    </header>

    <footer>
            <img  src="../public/images/logo branco.png" width="250px" height="100px">
            <ul class="social">
                <li><a href="#"><img src="../public/images/facebook.png" width="50px" height="50px"></a></li>
                <li><a href="#"><img src="../public/images/linkedin.png" width="50px" height="50px"></a></li>
                <li><a href="#"><img src="../public/images/twitter.png" width="50px" height="50px"></a></li>
                <li><a href="#"><img src="../public/images/instagram.png" width="50px" height="50px"></a></li>
            </ul>
        <p class="text">With an inclusive  policy, EscapeJS has the mission <br> to take quality content to over 140 countries.</p>
        <div class="bottom">
            <p class="copyrigth">&copy Copyrigth   2023 Groove Inc. All rights reserved.</p>
            <ul class="terms">
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Regulation & License</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>