<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="EscapeJS a platform for learning JavaScript">
    <meta name="author" content="Alfredo Silva and Nuno Mendonça">
    <title>Rooms</title>
    <link rel="stylesheet" href="../public/styles/style.css">
    <link rel="stylesheet" href="../public/styles/room.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    <main>
        <header>
            <nav>
                <img  src="../public/images/logo.svg" width="250px" height="100px">
                <ul class="menu">
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../views/room.html">Rooms</a></li>
                    <li><a href="../views/ranking.html">Ranking</a></li>
                    <li><a href="../views/about.html">About</a></li>
                    <li><a href="../views/register.html">Sign In<a></a></li>
                    <li><a href="../views/profile.html">Profile</a></li>
                </ul>
            </nav>
        </header>

        <!--First Room-->
        <div class="card mb3" style="width: 480px">
            <div class="row">
                <div class="col-md-4">
                    <img src="../public/images/level 1 icone.png" alt="Fundamentals" class="img-fluid" style="height: 120px">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Fundamentals</h5>
                        <p class="card-text">First Room, will you make it to the end?</p>
                        <a href="#" class="btn btn-primary btn-custom">More</a>
                    </div>
                </div>
            </div>
        </div>

        <!--Second Room-->
        <div class="card mb-3" style="width: 480px">
            <div class="row">
                <div class="col-md-4">
                    <img src="../public/images/level 2 icone.png" alt="Fundamentals" class="img-fluid" style="height: 120px">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Conditionals</h5>
                        <p class="card-text">Second Room, this next will not be that easy!</p>
                        <a href="#" class="btn btn-primary btn-custom">More</a>
                    </div>
                </div>
            </div>
        </div>


        <!--Third Room-->
        <div class="card mb-3" style="width: 480px">
            <div class="row">
                <div class="col-md-4">
                    <img src="../public/images/level 3 icone.png" alt="Fundamentals" class="img-fluid" style="height: 120px">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Loops</h5>
                        <p class="card-text">Third Room, beginners luck so far!</p>
                        <a href="#" class="btn btn-primary btn-custom">More</a>
                    </div>
                </div>
            </div>
        </div>

        <!--Fourth Room-->
        <div class="card mb-3" style="width: 480px">
            <div class="row">
                <div class="col-md-4">
                    <img src="../public/images/level 4 icone.png" alt="Fundamentals" class="img-fluid" style="height: 120px">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Functions</h5>
                        <p class="card-text">Fourth Room, let's see if you can handle this one!</p>
                        <a href="#" class="btn btn-primary btn-custom">More</a>
                    </div>
                </div>
            </div>
        </div>

        <!--Fifth Room-->
        <div class="card mb-3" style="width: 480px">
            <div class="row">
                <div class="col-md-4">
                    <img src="../public/images/level 5 icone.png" alt="Fundamentals" class="img-fluid" style="height: 120px">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Arrays and Objects</h5>
                        <p class="card-text">Fifth Room, I'm impressed, but you'll not make it to the end!</p>
                        <a href="#" class="btn btn-primary btn-custom">More</a>
                    </div>
                </div>
            </div>
        </div>


        <!--Final Room - Boss Level-->
        <div class="card mb-3" style="width: 480px">
            <div class="row">
                <div class="col-md-4">
                    <img src="../public/images/level 6 icone.png" alt="Fundamentals" class="img-fluid" style="height: 120px">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Boss Level</h5>
                        <p class="card-text">You're not ready for this.</p>
                        <a href="#" class="btn btn-primary disabled">More</a>
                    </div>
                </div>
            </div>
        </div>
























        <!--
            <img src="../public/images/room1.png" usemap="#room1" alt="room1" class="img-fluid rounded mx-auto d-block" width="1500px" height="720px">
            <map name="room1">
                <area target="" alt="" title="" href="../index.html" coords="474,300,491,330" shape="rect">
                <area target="" alt="" title="" href="../index.html" coords="255,400,280,360" shape="rect">
                <area target="" alt="" title="" href="../index.html" coords="1000,560,1160,590" shape="rect">
            </map>
        -->
    </main>
</body>
</html>