@import url("https://fonts.googleapis.com/css2?family=Urbanist&display=swap");

* {
  font-family: "Urbanist" Bold;
}
/*Header*/
nav {
  display: flex;
  justify-content: space-between;
}

img {
  align-self: flex-start;
}

.menu {
  display: flex;
  justify-content: space-around;
  gap: 90px;
  margin: 35px;
}

.menu li {
  list-style: none;
}

.menu li a {
  color: #7e7e7e;
  text-decoration: none;
  font-size: larger;
  cursor: pointer
}

#profile {
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 35px;
}

.menu li a:hover {
  color: black;
}

/*Primeiro Container*/
.first-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #EFEFEF;
    border-radius: 35px;
    margin:15px 15px;
    height: 600px;
}

.first-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    color:#7E7E7E
}

.first-text .first-button-par{
    display: flex;
    flex-direction: row;
}

.first-text .first-button-par button{
    background-color: black;
    border-radius: 35px;
    color:#7e7e7e;
    width: 120px;
}

.first-text .first-button-par button:hover{
    background-color: black;
    border-radius: 35px;
    color:#EFEFEF;
    cursor: pointer;
}

.first-text .first-button-par p{
    margin: 15px;
}


.first-text #first-title b{
    font-size:x-large;
    color:black
}

.first-text #first-description{
    margin-left: 220px;
}

/*Segundo Container*/

.second-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #EFEFEF;
    border-radius: 35px;
    margin:15px 15px;
    height: 600px;
}

.second-image{
    align-self: center;
}


.second-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    color:#7E7E7E
}

.second-text .second-button-par{
    display: flex;
    flex-direction: row;
}

.second-text .second-button-par button{
    background-color: black;
    border-radius: 35px;
    color:#7e7e7e;
    width: 120px;
}

.second-text .second-button-par button:hover{
    background-color: black;
    border-radius: 35px;
    color:#EFEFEF;
    cursor: pointer;
}

.second-text .second-button-par p{
    margin: 15px;
}


.second-text #second-title b{
    font-size:x-large;
    color:black
}

.second-text #second-description{
    margin-left: 120px;
}

/*Terceiro Container*/

.third-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 600px;
    background-color: #EFEFEF;
}


.first-level, .second-level {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    border-radius: 35px;
    gap:25px
}


.img-container{
    background-color: #C3C3C3;
    border-radius: 35px;
    width: 400px;
    height: 400px;
    display: flex;
}

.img-container img{
    width: 200px;
    height: 200px;
    align-self: center;
    justify-self: center;
    margin:100px;
}

.first-level p b, .second-level p b{
    font-size:x-large;
    padding: 10px;;    
}

.third-container img{
    align-self: center;
}

.third-container #arrow1{
    transform: rotate(180deg);
    color: #7b7b7b;
}

/*Footer*/
footer{
    height: 300px;
    background-color: black;
}

footer nav{
    display: flex;
    justify-content: space-around;
    gap: 90px;
    margin: 35px;
}

.social{
    display: flex;
    flex-direction: row;
}