header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

header svg {
  width: 250px;
  height: 100px;
  padding-left: 1%;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Primeiro Container*/
.first-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #efefef;
  border-radius: 35px;
  margin: 15px 15px;
  height: 600px;
}

.first-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  color: #7e7e7e;
}

.first-text .first-button-par {
  display: flex;
  flex-direction: row;
}

.cta a {
  text-decoration: none;
  color: white;
}

.first-text .first-button-par button {
  background-color: black;
  border-radius: 35px;
  color: #7e7e7e;
  width: 120px;
}

.first-text .first-button-par button:hover {
  background-color: black;
  border-radius: 35px;
  color: #efefef;
  cursor: pointer;
}

.first-text .first-button-par p {
  margin: 15px;
}

.first-text #first-title b {
  font-size: x-large;
  color: black;
}

.first-text #first-description {
  margin-left: 220px;
}

/*Segundo Container*/

.second-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #efefef;
  border-radius: 35px;
  margin: 15px 15px;
  height: 600px;
}

.second-image {
  align-self: center;
}

.second-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  color: #7e7e7e;
}

.second-text .second-button-par {
  display: flex;
  flex-direction: row;
}

.second-text .second-button-par button {
  background-color: black;
  border-radius: 35px;
  color: #7e7e7e;
  width: 120px;
}

.second-text .second-button-par button:hover {
  background-color: black;
  border-radius: 35px;
  color: #efefef;
  cursor: pointer;
}

.second-text .second-button-par p {
  margin: 15px;
}

.second-text #second-title b {
  font-size: x-large;
  color: black;
}

.second-text #second-description {
  margin-left: 120px;
}

/*Terceiro Container*/

.third-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 600px;
  background-color: #efefef;
}

.first-level,
.second-level {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  border-radius: 35px;
  gap: 25px;
}

.img-container {
  background-color: #c3c3c3;
  border-radius: 35px;
  width: 400px;
  height: 400px;
  display: flex;
}

.img-container img {
  width: 200px;
  height: 200px;
  align-self: center;
  justify-self: center;
  margin: 100px;
}

.first-level p b,
.second-level p b {
  font-size: x-large;
  padding: 10px;
}

.third-container img {
  align-self: center;
}

.third-container #arrow1 {
  transform: rotate(180deg);
  color: #7b7b7b;
}

/*Footer*/
footer{
  height:500px;
  background-color: black;
  display: flex;
  align-self: baseline;
  flex-direction: column;
}

footer nav{
  display: flex;
  justify-content: space-between;
  gap: 100px;
  margin: 35px;
}

.social{
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.social li{
  list-style-type: none;
  padding:5px;
  margin-top: 25px;
}

.social li a{
  text-decoration: none;
}

.social li a img{
  border-radius: 35px;
}

.text{
  color:white;
  margin: 20px;
  font-size: larger;
}

.bottom{
  display: flex;
  justify-content: space-around;
  align-items: end;
}

.copyrigth{
  color:#7E7E7E;
  margin: 10px;
}

.terms{
  display: flex;
  flex-direction: row;
}

.terms li{
  list-style-type: none;
  padding:10px;
}

.terms li a{
  text-decoration: none;
  color: black;
}

.terms li a:hover{
  text-decoration:underline;
  color: white;
}