/*Primeiro Container*/
.first-container,.second-container,.third-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #efefef;
  border-radius: 35px;
  margin: 15px 15px;
  height: 600px;
  width: 70%;
}

.first-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #7e7e7e;
  width: 50%;
}

.first-text .first-button-par {
  display: flex;
  flex-direction: row;
}

.entry-img {
  border-radius: 0 35px 35px 0;
  width: 450px;
  height: 600px;
}

.cta a {
  text-decoration: none;
  color: #7e7e7e;
}

.cta a :hover{
  text-decoration: none;
  color: white;
}

.first-text .first-button-par button {
  background-color: black;
  border-radius: 35px;
  color: #9b9a9a;
  width: 120px;
}

.first-text .first-button-par button:hover {
  background-color: rgb(49, 49, 49);
  border-radius: 35px;
  color: #efefef;
  cursor: pointer;
}

.first-text .first-button-par p {
  margin: 15px;
}

.first-text #first-title b {
  font-size: x-large;
  color: black;
}

.first-text #first-description {
  margin-left: 220px;
}

/*Segundo Container*/
.second-image {
  align-self: center;
  margin: 2rem;
  padding: 2rem;
}

.second-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #7e7e7e;
}

.second-text .second-button-par {
  display: flex;
  flex-direction: row;
}

.second-text .second-button-par button{
  background-color: black;
  border-radius: 35px;
  color: #7e7e7e;
  width: 120px;
}

.second-text .second-button-par button:hover {
  background-color: black;
  border-radius: 35px;
  color: #efefef;
  cursor: pointer;
}

.second-text .second-button-par button a{
  text-decoration: none;
  color: #7e7e7e;
}

.second-text .second-button-par button a:hover{
  text-decoration: none;
  color:white
}

.second-text .second-button-par p {
  margin: 15px;
}

.second-text #second-title b {
  font-size: x-large;
  color: black;
}

.second-text #second-description {
  margin-left: 120px;
}

/*Terceiro Container*/

.first-level,
.second-level {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  border-radius: 35px;
  gap: 25px;
}

.img-container {
  background-color: #c3c3c3;
  border-radius: 35px;
  width: 400px;
  height: 400px;
  display: flex;
}

.img-container img {
  width: 200px;
  height: 200px;
  align-self: center;
  justify-self: center;
  margin: 100px;
}

.first-level p b,
.second-level p b {
  font-size: x-large;
  padding: 10px;
}

.third-container img {
  align-self: center;
}

.third-container #arrow1 {
  transform: rotate(180deg);
  color: #7b7b7b;
}