@import url("https://fonts.googleapis.com/css2?family=Urbanist&display=swap");

* {
  font-family: "Urbanist" Bold;
}

.ranking-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fffa7e;
  max-width: 1800px;
  width: 800px;
  border-radius: 1rem;
}

.ranking-container h1 {
  font-size: 32pt;
  border-bottom: 5px solid black;
  width: 100%;
  text-align: center;
  padding: 20px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons .btnRank {
  display: flex;
  align-items: center;
  background-color: #8c8945;
  border-radius: 35px;
  color: white;
  margin: 1rem;
}

.buttons .btnRank img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.buttons .btnRank:hover {
  background-color: black;
  transform: scale(1.2);
  cursor: pointer;
}

.rankingTable {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: space-around;
  margin: 1rem;
}

.rankingTable th {
  padding: 1rem;
  text-align: center;
}

.rankingTable td {
  padding: 0.5rem 1rem;
  text-align: center;
}
