@import url("https://fonts.googleapis.com/css2?family=Urbanist&display=swap");

* {
  font-family: "Urbanist" Bold;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 100%;
  padding: 2rem;
}

h1 {
  font-weight: bold;
  text-align: center;
  font-size: 64px;
  padding: 1rem;
}

form {
  width: 500px;
  max-width: 500px;
  margin: 1rem auto;
  padding: 2rem;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  font-weight: bold;
}


.form-input {
  margin-bottom: 1rem;
  text-align: center;
}

.form-input input {
  width: 80%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
}

.form-input input:hover{
  box-shadow: 0 5px 10px rgba(0,0,0,0.4);
}

select {
  width: 80%;
  padding: 8px;
  border-radius: 10px;
  margin-bottom: 5px;
  text-align: center
}

select:hover {
  box-shadow: 0 5px 10px rgba(0,0,0,0.4);
}

.form-input:last-child{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-input button {
  padding: 10px 20px;
  color: black;
  border-radius: 10px;
  background-color: #faff00;
  cursor: pointer;
  transition: 0.5s;
  width: 80%;
}

.form-input button:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.has_account{
  width: 80%;
  margin: 1rem auto;
}

.has_account a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 0.25rem;
}

.has_account a:hover {
  text-decoration: underline;
}
