@import url("https://fonts.googleapis.com/css2?family=Urbanist&display=swap");

* {
  font-family: "Urbanist" !important;
  font-weight: bold !important;
}

.room-container{
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 100vh;
}
/*
.col-md-4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
*/



