@import url("https://fonts.googleapis.com/css2?family=Urbanist&display=swap");

* {
  font-family: "Urbanist" Bold;
  margin: 0;
  padding: 0;
}

/*Header*/

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header svg {
  width: 250px;
  height: 100px;
  padding-left: 1%;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1144px;
  padding: 0 1rem;
}

img {
  align-self: flex-start;
}

.menu {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.menu a {
  color: #7e7e7e;
  margin: 0 1rem;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

.profile {
  border: 1px solid black;
  padding: 0.5rem 1rem;
  border-radius: 35px;
  margin: 0;
}

.menu li a:hover {
  color: black;
}

/*Footer*/
footer {
  height: 250px;
  width: 100%;
  background-color: black;
  padding: 2rem;
}

.logo-img {
  padding: 1rem;
  width: 20%;
  height: auto;
}

footer ul {
  list-style: none;
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
  text-align: center;
}

footer ul li {
  display: inline;
  margin: 0 1rem;
}

footer li a {
  text-decoration: none;
  color: white;
}

.social{
  transition: 0.5;
}

.social img:hover{
  transform: scale(1.2);
  cursor: pointer;
}