@import url("https://fonts.googleapis.com/css2?family=Urbanist&display=swap");

* {
  font-family: "Urbanist" Bold;
}


/*Header*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

header svg {
  width: 250px;
  height: 100px;
  padding-left: 1%;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
}

img {
  align-self: flex-start;
}

.menu {
  display: flex;
  justify-content: space-around;
  gap: 90px;
  margin: 35px;
}

.menu li {
  list-style: none;
}

.menu li a {
  color: #7e7e7e;
  text-decoration: none;
  font-size: larger;
  cursor: pointer;
}

.profile {
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 35px;
}

.menu li a:hover {
  color: black;
}

/*Footer*/
footer {
  height: 600px;
  margin: 0;
  background-color: black;
}

footer ul {
  list-style: none;
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
  text-align: center;
  padding: 2rem 0;
}

footer ul li {
  display: inline;
  padding: 0 1rem;
}

footer li a {
  text-decoration: none;
  color: white;
}

footer li a:hover {
  text-decoration: underline;
}

/*
  .social{
      display: flex;
      flex-direction: row;
  }
  */

.footer-nav {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  margin: 35px;
}

.social {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.social li {
  list-style-type: none;
  padding: 5px;
  margin-top: 25px;
}

.social li a {
  text-decoration: none;
}

.social li a img {
  border-radius: 35px;
}

.text {
  color: white;
  margin: 20px;
  font-size: larger;
}

.bottom {
  display: flex;
  justify-content: space-around;
  align-items: end;
}

.copyrigth {
  color: #7e7e7e;
  margin: 10px;
}

.terms {
  display: flex;
  flex-direction: row;
}

.terms li {
  list-style-type: none;
  padding: 10px;
}

.terms li a {
  text-decoration: none;
  color: white;
}

.terms li a:hover {
  text-decoration: underline;
  color: white;
}
