@import url("https://fonts.googleapis.com/css2?family=Urbanist&display=swap");

* {
  font-family: "Urbanist" Bold;
}
/*Header*/
nav {
  display: flex;
  justify-content: space-between;
}

img {
  align-self: flex-start;
}

.menu {
  display: flex;
  justify-content: space-around;
  gap: 90px;
  margin: 35px;
}

.menu li {
  list-style: none;
}

.menu li a {
  color: #7e7e7e;
  text-decoration: none;
  font-size: larger;
  cursor: pointer;
}

.profile {
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 35px;
}

.menu li a:hover {
  color: black;
}

/*Footer*/
footer {
  height: 300px;
  background-color: black;
}

footer ul {
  list-style: none;
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
  text-align: center;
  padding: 2rem 0;
}

footer ul li {
  display: inline;
  padding: 0 1rem;
}

footer li a {
  text-decoration: none;
  color: white;
}

footer li a:hover {
  text-decoration: underline;
}

/*
  .social{
      display: flex;
      flex-direction: row;
  }
  */
